<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .main{
      height: 40vh;
      width: 70vw;
      margin: 20%;
      padding: 15px;
      display: flex;
      background-color: aquamarine;
    }
  </style>
</head>
<body>
  <div class="main">
    <h1>Lets find someting for you to do 👍</h1>
    <form action="/filter" method="get">
      <select name="type" class="form-select">
        <option value="" data-display="Select">Random type</option>
        <option value="education">Education</option>
        <option value="charity">Charity</option>
        <option value="recreational">Recreational</option>
        <option value="relaxation">Relaxation</option>
        <option value="busywork">Busywork</option>
        <option value="social">Social</option>
        <option value="diy">DIY</option>
        <option value="music">Music</option>
      </select>
      <select name="participants" class="form-select">
        <option value="">Any number of people</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
      <button type="submit">submit</button>
    </form>

    <% if(locals.data){%>
    <h1>data.</h1> 
    <%}%>
  
  </div>

</body>
</html>